[Unit]
Description=Gunicorn instance for temperature server
After=network.target

[Service]
User=ckoch
Group=ckoch
WorkingDirectory=/home/ckoch/temperature-server
Environment="PATH=/home/ckoch/temperature-server/.venv/bin"
ExecStart=/home/ckoch/temperature-server/.venv/bin/gunicorn server.server:app --timeout 120 --bind 0.0.0.0:5000 --workers 4 --access-logfile - --error-logfile -
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
